@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@theme{
  --color-primary: #19a1e6;
    --color-primary-dark: #0975ac;
    --color-primary-darker: #085278;
    --color-primary-darkest: #242628;
    --color-primary-darkest-opaque: #44444f;
    --color-primary-darkin: #021938;
    --color-primary-clean: #4cb5ea;
    --color-primary-light: #83cef6;
    --color-primary-lighter: #a2d0e7;
    --color-primary-lightest: #e4ecef;
    --color-primary-input-focused: #0b7cbe;
    --color-primary-opacity-5: rgba(25,164,230,.5);
    --color-secondary: #f45b93;
    --color-secondary-dark: #c14371;
    --color-secondary-darker: #8d3052;
    --color-secondary-darkest: #471829;
    --color-secondary-light: #f18bb0;
    --color-secondary-lighter: #f1bace;
    --color-secondary-lightest: #f2e3e9;
    --color-alert: #ffc107;
    --color-alert-dark: #dda706;
    --color-alert-light: #ffd043;
    --color-danger: #fe5a59;
    --color-danger-dark: #bf4848;
    --color-danger-light: #ff9898;
    --color-danger-lighter: #ffd9d9;
    --color-success: #15c674;
    --color-success-dark: #0f8f54;
    --color-success-light: #62d39f;
    --color-medium: #92929d;
    --color-medium-light: #acacb8;
    --color-medium-lighter: #e2e2ea;
    --color-medium-lightest: #f7f7f7;
    --color-medium-new-lighter: #f1f2f2;
    --color-medium-clean: #7d868e;
    --color-medium-mid: #798289;
    --color-medium-dark: #6d6d78;
    --color-medium-darker: #555;
    --color-medium-darkest: #373737;
    --color-medium-darkin: #1d1d1d;
    --color-ifood: #ec472d;
    --color-ifood-dark: #bf3d28;
    --color-picpay: #21c25e;
    --color-picpay-dark: #1a984a;
    --color-borderradiussm: 6px;
    --color-borderradiusmd: 12px;
    --color-borderradiuslg: 20px;
    --color-borderradiuscircular: 50%;
    --color-spacexxs: 16px;
    --color-spacexs: 24px;
    --color-spacexxl: 64px;
    --color-tables-free: #818a8f;
    --color-tables-free-dark: #242628;
    --color-tables-free-light: #e5e7e8;
    --color-tables-free-lighter: #f5f6f6;
    --color-tables-in-service: #7459c3;
    --color-tables-in-service-dark: #4a377b;
    --color-tables-in-service-light: #e0dff5;
    --color-tables-in-service-lighter: #f6f6fc;
    --color-tables-paid: #0a639a;
    --color-tables-paid-dark: #114769;
    --color-tables-paid-light: #bde3fa;
    --color-tables-paid-lighter: #f1f9fe;
    --color-tables-opened: #15a459;
    --color-tables-opened-dark: #145334;
    --color-tables-opened-light: #bbf7d6;
    --color-tables-opened-lighter: #f0fdf5;
    --color-tables-waiting: #ee467f;
    --color-tables-waiting-dark: #841732;
    --color-tables-waiting-light: #fbcfe1;
    --color-tables-waiting-lighter: #fdf2f6;
    --ion-default-font: "Poppins","Roboto","Arial",sans-serif;
    --ion-font-family: "Poppins","Roboto","Arial",sans-serif;
    --system-background-pages: #f6f6f6;
    --ion-color-primary: #1ba3e6;
    --ion-color-primary-rgb: 56,128,255;
    --ion-color-primary-contrast: #fff;
    --ion-color-primary-contrast-rgb: 255,255,255;
    --ion-color-primary-shade: #3171e0;
    --ion-color-primary-shadow: #2291c7;
    --ion-color-primary-tint: #4c8dff;
    --ion-color-primary-hover: #0975ac;
    --ion-color-secondary: #0cd1e8;
    --ion-color-secondary-rgb: 12,209,232;
    --ion-color-secondary-contrast: #fff;
    --ion-color-secondary-contrast-rgb: 255,255,255;
    --ion-color-secondary-shade: #0bb8cc;
    --ion-color-secondary-tint: #24d6ea;
    --ion-color-tertiary: #7044ff;
    --ion-color-tertiary-rgb: 112,68,255;
    --ion-color-tertiary-contrast: #fff;
    --ion-color-tertiary-contrast-rgb: 255,255,255;
    --ion-color-tertiary-shade: #633ce0;
    --ion-color-tertiary-tint: #7e57ff;
    --ion-color-success: #10dc60;
    --ion-color-success-rgb: 16,220,96;
    --ion-color-success-contrast: #fff;
    --ion-color-success-contrast-rgb: 255,255,255;
    --ion-color-success-shade: #0ec254;
    --ion-color-success-tint: #28e070;
    --ion-color-warning: #ffce00;
    --ion-color-warning-rgb: 255,206,0;
    --ion-color-warning-contrast: #fff;
    --ion-color-warning-contrast-rgb: 255,255,255;
    --ion-color-warning-shade: #e0b500;
    --ion-color-warning-tint: #ffd31a;
    --ion-color-danger: #f04141;
    --ion-color-danger-rgb: 245,61,61;
    --ion-color-danger-contrast: #fff;
    --ion-color-danger-contrast-rgb: 255,255,255;
    --ion-color-danger-shade: #d33939;
    --ion-color-danger-tint: #f25454;
    --ion-color-dark: #222428;
    --ion-color-dark-rgb: 34,34,34;
    --ion-color-dark-contrast: #fff;
    --ion-color-dark-contrast-rgb: 255,255,255;
    --ion-color-dark-shade: #1e2023;
    --ion-color-dark-tint: #383a3e;
    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152,154,162;
    --ion-color-medium-contrast: #fff;
    --ion-color-medium-contrast-rgb: 255,255,255;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;
    --ion-color-light: #f4f5f8;
    --ion-color-light-rgb: 244,244,244;
    --ion-color-light-contrast: #000;
    --ion-color-light-contrast-rgb: 0,0,0;
    --ion-color-light-shade: #d7d8da;
    --ion-color-light-tint: #f5f6f9;
    --ion-color-piano: #000;
    --ion-color-piano-rgb: 0,0,0;
    --ion-color-piano-contrast: #fff;
    --ion-color-piano-contrast-rgb: 255,255,255;
    --ion-color-piano-shade: #1e2023;
    --ion-color-piano-tint: #383a3e;
    --ion-color-light-grey: #ccc;
    --ion-color-light-grey-rgb: 204,204,204;
    --ion-color-light-grey-contrast: #fff;
    --ion-color-light-grey-contrast-rgb: 0,0,0;
    --ion-color-light-grey-shade: #ccc;
    --ion-color-light-grey-tint: #ccc

}

body {
  font-family: Poppins, Helvetica, sans-serif;
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.145 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.145 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.269 0 0);
  --input: oklch(0.269 0 0);
  --ring: oklch(0.439 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
